.features{
padding-top: 94px;
padding-bottom: 94px;
}

.benefits-div-icon{
width: 270px;
height: 120px;
box-sizing: border-box;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
background: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;
}

.post-list{
display: flex;
}
  
.post-title-text{
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-color);
margin-bottom: 10px;
}
  
.text{
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #757575;
}

.our-products{
font-weight: 700;
font-size: 36px;
line-height: 1.667;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
}
