
  .hero {
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    margin: 0 auto;
    background-color: var(--bcg-footer-color);
    // background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../images/hero/hero-mobile.jpg);
    background-size: cover;  
}
// .hero {
//     max-width: 1600px;
//     height: 600px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-bottom: 200px;
//     padding-top: 200px;
//     background: var(--bg-color);
//     background-image: 
//     linear-gradient(to right, 
//     rgba(47, 48, 58, 0.4), 
//     rgba(47, 48, 58, 0.4)
//     ),
//     url("../hero/Img.jpg");
//     text-align: center;
//     }
    
    
    
    