
.hero-text{
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61538;
    letter-spacing: .06em;
    text-align: center;
    text-transform: uppercase;
color: #FFFFFF;
}

// .hero-text{
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     max-width: 700px;
//     color: #FFFFFF;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 30px;
// }