.our-team-h{
    
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: var(--text-color);
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1200px){
.our-team-h{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
}
}



// .our-team-h{
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.166;
//     letter-spacing: 0.03em;
//     margin-bottom: 50px;
//     color: var(--text-color);
//     }